@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('./assets/img/fundoTelaInicial.png');
  /* style={{ backgroundImage: `url(${images.background})` }} */
  background-size: cover;
  background-position: center;
  font-family: 'Press Start 2P', cursive;
}

.title {
  color: #000;
  font-size: 4vw;
  text-align: center;
  margin: 0;
  line-height: 1.5;
  text-shadow:
    6px 6px 0 #00000034;
  letter-spacing: 0.05em;
}

.press {
  margin: 15px 0 50px 0;
  color: #e9c46a;
  font-size: 1.5vw;
  letter-spacing: 0.15em;
  text-shadow:
    2px 2px 0 #423c2f,
    4px 4px 0 #000;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}



.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.pokemons {
  position: relative;
  display: flex;
  gap: 3vw;
  align-items: flex-end;
  justify-content: center;
  width: 60vw;
}

.character {
  width: 9vw;
  user-select: none;
  image-rendering: pixelated;
  transition: transform 0.3s ease;
}

.charmander {
  width: 9vw;
  user-select: none;
  image-rendering: pixelated;
  transition: transform 0.3s ease;
}

.pikachu {
  width: 9vw;
  user-select: none;
  image-rendering: pixelated;
  transition: transform 0.3s ease;
}

.bulbasaur {
  width: 9vw;
  user-select: none;
  image-rendering: pixelated;
  transition: transform 0.3s ease;
}

.squirtle {
  user-select: none;
  image-rendering: pixelated;
  transition: transform 0.3s ease;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 20vw;
}

.bulbasaur:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.charmander:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.pikachu:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.flip-right {
  transform: scaleX(-1);
}

.flip-right:hover {
  transform: scaleX(-1) scale(1.1);
}

.zubats {
  position: absolute;
  top: 3vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  
}


.zubat {
  width: 3.5vw;
  user-select: none;
  image-rendering: pixelated;
  animation: fly 30s linear infinite;
}

@keyframes fly {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}